# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Banco local
*.sqlite
*.sqlite3
*.db
c:/Users/Renan de Castilho/Desktop/AutoFlex/dados.db

# Node/Front
node_modules/

# Env
.env
